<!DOCTYPE html>
<html>

<head>
  <link href="style.css" rel="stylesheet">
  <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  <link href="https://unpkg.com/vuetify/dist/vuetify.min.css" rel="stylesheet">
  <title>Money Monkey</title>
</head>

<body>

  <!-- The 'door' to our app. Markup code lives here. -->
  <div id="app" v-cloak>
    <!-- Vuetify provides 'components' for us! Components are reusable pieces of markup that accept different attributes called 'props'-->
    <v-app id="inspire">
      <v-toolbar app>
        <v-toolbar-side-icon>
          <v-avatar v-cloak>
            <img width="100" height="100" src="https://cdn4.iconfinder.com/data/icons/hana-emojis-monkey-edition-glyph/100/monkey_glyph-22-512.png" alt="avatar">
          </v-avatar>
        </v-toolbar-side-icon>
        <v-toolbar-title>Money Monkey</v-toolbar-title>
      </v-toolbar>

      <v-content>
        <v-container>
          <h1>{{ message }}</h1>

          <v-form @keyup.native.enter="saveExpense" class="ma-5">
            <v-text-field ref="descriptionInput" v-model="description" ref="descriptionInput" placeholder="Description" type="text"></v-text-field>
            <v-text-field v-model="amount" placeholder="Amount" type="text"></v-text-field>
            <v-btn color="info" @click="saveExpense">{{ saveButtonText }}</v-btn>

            <v-alert :value="!valid.description" type="error">
                Enter a valid description
            </v-alert>

            <v-alert :value="!valid.amount" type="error">
                Enter a valid amount
            </v-alert>

          </v-form>

          <h2 class="text-xs-center ma-3" v-if="expenses.length">Total Expenses
              <v-chip color="green" text-color="white">${{ total.toFixed(2) }}</v-chip>
          </h2>

          <v-data-table :headers="headers" :items="expenses" hide-actions class="elevation-1">
            <template slot="items" slot-scope="props">
              <td class="text-xs-left"><b>{{ props.item.description }}</b></td>
              <td class="text-xs-left">${{ props.item.amount.toFixed(2) }}</td>
              <td class="text-xs-left">{{ props.item.date }}</td>
              <td>
                <v-btn fab small @click="setEditingId(props.item._id)"><v-icon>edit</v-icon></v-btn>
                <v-btn outline fab small @click="deleteExpense(props.item._id)" color="error"><v-icon>delete</v-icon></v-btn>
              </td>
            </template>
          </v-data-table>

        </v-container>
      </v-content>
    </v-app>
  </div>

  <!-- Include vue. -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- Include vuetify components. -->
  <script src="https://unpkg.com/vuetify/dist/vuetify.js"></script>
  <!-- The 'brains' of our app. Vue code lives here. -->
  <script src="index.js" type="module"></script>
  <!-- We usually talk to somebody else (the server) to get data. But for now, we will store it locally. -->
  <script src="data.js" type="module"></script>

</body>

</html>
