<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="style.css">
  <title>Money Monkey</title>
</head>

<body>

  <!-- The 'door' to our app. Markup code lives here. -->
  <div id="app" class="container">
    <!-- We can use our message variable inside any html tags we want, we make it bigger by wrapping in an h1. -->
    <div class="container">
      <div>
        <h1 v-cloak>{{ message }}</h1>
      </div>
      <div>
        <!-- This is a special addition on the input tag that vue provides called a directive, it extends the functionality of a normal element. -->
        <!-- Using v-model allows us to attach an input to a piece of data on our app (message in this case) and two-way data binds the information between them to keep in sync. -->
        <input v-model="message" placeholder="Type here" type="text">
      </div>
      <div>
        <!-- We can listen to events on a web page with directives! -->
        <!-- They look like '@' followed by the name of the event (@click). Whatever follows the equals sign needs to be in our vue instance as a method. -->
        <button @click="clicked">Click me</button>
      </div>
    </div>
    <div class="container">
      <h2>Expenses</h2>
      <ul v-cloak v-for="expense in expenses">
        <li>{{ expense.description }} ${{ expense.amount }}</li>
      </ul>
    </div>
  </div>

  <!-- Include vue. -->
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <!-- The 'brains' of our app. Vue code lives here. -->
  <script src="index.js" type="module"></script>
  <!-- We usually talk to somebody else (the server) to get data. But for now, we will store it locally. -->
  <script src="data.js" type="module"></script>

</body>

</html>
