/* Add some styles to clean up the interface */

.container, body, html {
  font-family: Arial;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 15px;
  background: lightsteelblue;
  border: none;
  outline: none;
  padding: 10px;
  margin: 10px;
}

button:active {
  background: lightblue;
}

input {
  display: flex;
  min-width: 300px;
  border: 1px solid lightgray;
  outline: none;
  font: 20px bold;
  padding: 10px;
  border-radius: 15px;
}

.inline-button {
  display: inline-block;
}

ul {
  list-style: none;
  padding: 0;
}

/* Any element that uses the v-cloak directive will hide until loaded */
[v-cloak] {
  display: none;
}
